#containers{
    position: absolute;
    text-align: left;
    padding-left: 7em;
    max-width: 30em;
    margin-left: 3em;
    left: 50%;
    transform: translate(-50%,0);
}


#Row{
    padding-top: 15px;
    margin-bottom: 1em;
    margin-right: 16em;/*Para que el icono quede pegado*/
}

#RowMain{
    color: white;
    text-shadow: 1px 2px 5px rgb(90, 3, 79);
    padding-top: 15px;
    margin-bottom: 1em;
    transform: translate(-10%,0);
}

#RowDots{
    color: white;
    text-shadow: 1px 2px 5px rgb(90, 3, 79);
    padding-top: 15px;
    margin-bottom: 1em;
    padding-top: 15px;
    margin-bottom: 1em;
    transform: translate(10%,0);
}

#image{
    position: relative;
    width: 32px;
    height: 32px;
}