#containers{
    position: relative;
    text-align: left;
    padding-left: 7em;
    max-width: 30em;
    margin-left: 3em;
}


#Row{
    padding-top: 15px;
    margin-bottom: 1em;
    margin-right: 16em;/*Para que el icono quede pegado*/
}

#image{
    position: relative;
    width: 32px;
    height: 32px;
}